name: SonarCloud Scan

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  sonarcloud:
    name: SonarCloud
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0  # Required for SonarCloud

      - name: Setup Python (needed for python analysis)
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'

      - name: SonarCloud Scan
        uses: SonarSource/sonarcloud-github-action@e9418eaf78a0a5fb2a5fa31630bd6386f75626e1
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_QUBE_TEST }}
        with:
          projectBaseDir: .

